.env
.venv

.continue/
.idea/
.idea

LOGS/*
PIC/*
FIG/*

DATA/static/
DATA/*.csv
DATA/*.bd
DATA/*.log
DATA/cache/*

__pycache__
gpt_parcer.py

.continue/prompts/new-prompt.yaml
.continue/rules/new-rule.md
