.env
.venv

.continue/
.idea/
.idea

LOGS/*
PIC/*
FIG/*

DATA/static/
DATA/*.csv
DATA/*.bd
DATA/*.log
DATA/cache/*

__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

# Project specific
gpt_parcer.py
.continue/prompts/new-prompt.yaml
.continue/rules/new-rule.md
